<div class="col-12">
    <section class="body-content">
        <form action="/register" method="post" class="login">
            <div class="row">
                <div class="col-12">
                    <h2>Login</h2>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label" for="username">User Name</label>
                        <input class="form-control" name="username" id="username" type="text" required>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" name="password" id="password" type="password" required>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label" for="password">Re-Password</label>
                        <input class="form-control" name="password" id="password" type="password" required>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="form-label"></label>
                        <button type="submit" class="btn btn-primary form-control" id="login">Login</button>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="form-label"></label>
                        <button type="reset" class="btn btn-danger form-control" id="reset">Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>