.container {
    max-width: 100%;

    .row > div {
        padding-bottom: 12px;
    }
}

input, input:focus-visible {
    outline: none;
}

select {
    cursor: pointer;
}

.w-full {
    width: 100%;
}

.flex {
    display: flex;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.button-action {
    padding-left: 12px;
    padding-bottom: 6px;
}

body {
    .card-body {
        .dt-container {
            .dt-search input {
                margin: 0;
            }
        }
    }

    table.dataTable {
        th.dt-type-numeric {
            text-align: left;
        }

        tfoot {
            display: table-header-group;

            th {
                input {
                    width: 100%;
                    border: 1px solid #a1a1a1;
                    border-radius: 4px;
                }

                .action-column {
                    input {
                        width: auto;
                    }
                }
            }
        }
    }

    .action-column {
        display: flex;
    }

    .edit-record {
        padding-left: 15px;
    }

    .delete-record {
        padding-left: 15px;
    }

    .delete-record button {
        border: none;
        background-color: transparent;
    }

    .delete-record button svg {
        color: red;
    }

    .required {
        position: relative;
    }

    .required svg {
        color: red;
        font-size: 10px;
        position: absolute;
        top: 0;
    }
}

