.container {
  max-width: 100%;
}
.container .row > div {
  padding-bottom: 12px;
}
input,
input:focus-visible {
  outline: none;
}
select {
  cursor: pointer;
}
.w-full {
  width: 100%;
}
.flex {
  display: flex;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.flex-wrap {
  flex-wrap: wrap;
}
.button-action {
  padding-left: 12px;
  padding-bottom: 6px;
}
body .card-body .dt-container .dt-search input {
  margin: 0;
}
body table.dataTable th.dt-type-numeric {
  text-align: left;
}
body table.dataTable tfoot {
  display: table-header-group;
}
body table.dataTable tfoot th input {
  width: 100%;
  border: 1px solid #a1a1a1;
  border-radius: 4px;
}
body table.dataTable tfoot th .action-column input {
  width: auto;
}
body .action-column {
  display: flex;
}
body .edit-record {
  padding-left: 15px;
}
body .delete-record {
  padding-left: 15px;
}
body .delete-record button {
  border: none;
  background-color: transparent;
}
body .delete-record button svg {
  color: red;
}
body .required {
  position: relative;
}
body .required svg {
  color: red;
  font-size: 10px;
  position: absolute;
  top: 0;
}
